<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Cars List</h1>

    <form action="/cars" method="post">
      <label for="makeModel">Add the model of the car</label>
      <input id="makeModel" name="makeModel" type="text"><br>
      <label for="price">Add a price</label>
      <input id="price" name="price" type="text"><br>
      <label for="miles">Add the miles of the car</label>
      <input id="miles" name="miles" type="text"><br>
      <label for="message">Add a new message.</label>
      <input id="message" name="message" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
